{% extends 'core/_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/compare.css'%}" rel="stylesheet"">

{% endblock %}

{% block title %}
{% endblock %}


{% block content %}
<div class="container">
    <form method="post" role="form">
        {% csrf_token %}
        <div class="row mb-4">
            <div class="col">
            <select name="project_1" class="browser-default custom-select">
                <option selected>choose project</option>
                {% for project in projects %}
                <option value="{{project.id}}">{{project.nom}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-2 align-content-center lead">
                <p>Vs</p>
            </div>
            <div class="col">
            <select name="project_2" class="browser-default custom-select">
                <option selected>choose project</option>
                {% for project in projects %}
                <option value="{{project.id}}">{{project.nom}}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <input
        class="btn btn-primary btn-lg btn-block mt-4"
        type="submit"
        value="Submit"
        />
    </form>

    <h5>
        See projects detail
    </h5>
    <div class="mt-5">
        {% for p in projects %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{p.nom}}
          <a href="{% url 'project_detail' p.id %}" class="card-link"><span class="badge badge-primary badge-pill">See it</span></a>
        </li>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block js %}
{% endblock %}