{% extends 'core/_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/compare.css'%}" rel="stylesheet"">

{% endblock %}

{% block title %}
{% endblock %}


{% block content %}
<div class="container">
    <form method="post" role="form">
        {% csrf_token %}
        <div class="row mb-4">
            <div class="col">
            <select name="project_1" class="browser-default custom-select">
                <option selected>choose project</option>
                {% for project in projects %}
                <option value="{{project.id}}">{{project.nom}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="col-2 align-content-center lead">
                <p>Vs</p>
            </div>
            <div class="col">
            <select name="project_1" class="browser-default custom-select">
                <option selected>choose project</option>
                {% for project in projects %}
                <option value="{{project.id}}">{{project.nom}}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Compare</button>
    </form>

</div>
{% endblock %}

{% block js %}
{% endblock %}